$color-fuentes:blueviolet;
$color-fuentes-secundario: white;
$color-fondo: rgb(74, 23, 104);
$color-boxes: rgba(223, 181, 243, 0.75);
$color-botones-secundario: violet;
$color-boxshadow:  rgb(131, 18, 131);